.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.email-input {
  padding: 12px;
  border-radius: 9px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 300px;
  
}

.password-input {
  padding: 12px;
  border-radius: 9px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 300px;
}

.login-button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  width: 180px;
}